<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897830733173-44g89toq3a2b8urvlaugukccqg3a45gv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897830733173-44g89toq3a2b8urvlaugukccqg3a45gv</string>
	<key>API_KEY</key>
	<string>AIzaSyArCeBOKBZOQjP2Xh3bLsn16aFVje0Rzes</string>
	<key>GCM_SENDER_ID</key>
	<string>897830733173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.elshazly.eMasaryTask</string>
	<key>PROJECT_ID</key>
	<string>emasarytask</string>
	<key>STORAGE_BUCKET</key>
	<string>emasarytask.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897830733173:ios:7b0030ae6e211abece7f3c</string>
</dict>
</plist>